
<ul>
<li>Whenever a class needs to use <code>data_api()</code>, you should use the trait <code>DataApiTrait</code>, instead.</li>
<li>Then use DI to inject a Data object into the constructor.</li>
<li>You should never call <code>data_api()</code> from inside a class (except for static methods, which are not fully tested yet, use at your own discretion.)</li>
<li><p>Refer to the class documentation for implementation details.</p>

<pre><code>&lt;?php
class ClassThatNeedsADataObjectForItsMethods {

  use \Drupal\data_api\DataTrait;

  public function __construct(Data $data) {
    $this-&gt;setDataApiData($data);
  }
}

...

// Use in production code
$data = data_api();
$instance = new  ClassThatNeedsADataObjectForItsMethods($data);

... 

// Use in testing
$data = new \Drupal\data_api\DataMock();
$instance = new  ClassThatNeedsADataObjectForItsMethods($data);
</code></pre></li>
</ul>
