<h2>Summary</h2>

<p><strong>Provide a simple and consistent means to interact programatically with entity data, form submissions and other Drupal data across projects and major versions.</strong></p>

<h2>Requirements</h2>

<ul>
<li>Php 5.3 or higher</li>
</ul>

<h2>Installation</h2>

<ol>
<li>Install as usual, see <a href="http://drupal.org/node/70151">http://drupal.org/node/70151</a> for further information.</li>
</ol>

<h2>Configuration</h2>

<ol>
<li>No configuration is necessary; but the module won't do anything unless you utilitze it's functions.</li>
</ol>

<h2>Suggested Use</h2>

<p>More code examples are available if you enable the Advanced Help module.</p>

<h3>Read Entities</h3>

<pre><code>// Create a getter for node entities
$n = data_api('node');

// Load a node entity
$node = node_load(4503);

// Use the getter to pull the first name or default.
// Do not include the language key; language is determined automatically.
$vars['name'] = $n->get($node, 'field_first_name.0.value', '{first name}');

// You can resuse the node getter with a new node.  The node getter can be reused as long as the entity type doesn't change.
$node = node_load(345);
$vars['name'] = $n->get($node, 'field_first_name.0.value', '{first name}');

// But to pull data from a different entity type, you can either create a new getter for user entities...
$u = data_api('user');

//... or just reassign the entity type of the original getter to 'user'.
$n->setEntityType('user');
$vars['mail'] = $n->get($GLOBALS['user'], 'mail', '{missing email}');
</code></pre>

<h3>Set entities</h3>

<pre><code>// Load a comment entity
$comment = comment_load(1);

// Change the body value in the object only.
data_api('comment')->set($comment, 'comment_body.0.value', 'lorem', []);

// Save the comment to the database
comment_save($comment);
</code></pre>

<h3>Arrays and objects</h3>

<p>This will also work on native arrays and objects, and offers a means of supplying defaults with minium code.  For more information go <a href="https://github.com/aklump/data">here</a>.</p>

<pre><code>// Create a global getter that uses no entity type.
$g = data_api();

// Using a standard array...
$array = array('do' => array('re', 'mi'));

// Access it's elements.
print $g->get($array, 'do.0', 'none'); // === 're'
print $g->get($array, 'do.1', 'none'); // === 'mi'
print $g->get($array, 'do.2', 'none'); // === 'none'; the default

// Set a deep object
$object = new \stdClass;
$g->set($object, 'do.re.mi.fa.so', 'laaaa');

... $object->do->re->mi->fa->so === 'laaaa'
</code></pre>

<h3>And form submissions...</h3>

<pre><code>$value = data_api()->get($form_state, 'values.summary', 'none');
</code></pre>

<h3>Use callback to load an entity reference</h3>

<p>The fourth argument is a callable that receives the value and the default, so you can post process the value, e.g.,</p>

<pre><code>$related_node = data_api('node')->get($node, 'field_related_node.0.nid', null, function ($nid, $defaultValue) {
    return $nid ? node_load($nid) : $defaultValue;
});
</code></pre>

<h2>Design Decisions/Rationale</h2>

<ul>
<li>To bring consistency across Drupal versions for accessing data on entities.</li>
<li>To simplify the code used to programatically interact with entities.</li>
<li>To avoid Exceptions and issets() when pulling data.</li>
</ul>

<h2>Roadmap/Drupal 8</h2>

<p>I'm planning a Drupal 8 version which will follow the same patterns so you do not have to relearn a new api.</p>
