<ul>
<li>$node has field_product which references commerce_product entities.</li>
<li>$products will be an array of those loaded entities, or an empty array.</li>
</ul>

<h2>Return all products referenced by a node</h2>

<pre><code>  $products = data_api('node')-&gt;get($node, 'field_product', array(), function ($items, $default) {
      array_walk($items, function (&amp;$item) {
          $item = commerce_product_load($item['product_id']);
      });

      return $items ? $items : $default;
  });
</code></pre>
