
<h2>Example 1</h2>

<h3>Before</h3>

<p>Without the use of data_api.</p>

<pre><code>$item = taxonomy_term_load(123);
$title = check_plain($item-&gt;name);
if (!empty($item-&gt;field_edu_subject_short)) {
    $title = field_view_value('taxonomy_term', $item, 'field_edu_subject_short', $item-&gt;field_edu_subject_short[$lang][0]);
    $title = drupal_render($title);
}
</code></pre>

<h3>After</h3>

<p>The above code is refactored like this:</p>

<pre><code>$tt = data_api('taxonomy_term');
...
$item = taxonomy_term_load(123);
$title = $tt-&gt;get($item, 'field_edu_subject_short.0', check_plain($item-&gt;name), function ($title) use ($item) {
    $title = field_view_value('taxonomy_term', $item, 'field_edu_subject_short', $title);

    return drupal_render($title);
});
</code></pre>

<h2>Example 2: Iteration</h2>

<h3>Before</h3>

<pre><code>if (!empty($item-&gt;field_edu_level)) {
    foreach (array_keys($item-&gt;field_edu_level) as $lang) {
        foreach ($item-&gt;field_edu_level[$lang] as $delta =&gt; $edu_level) {
            ...
        }
    }
}
</code></pre>

<h3>After</h3>

<p>Iterations become much simpler:</p>

<pre><code>$tt = data_api('taxonomy_term');
...
foreach ($tt-&gt;get($item, 'field_edu_level', []) as $delta =&gt; $edu_level) {
    ...
}
</code></pre>
