
<p>If you are injecting a <code>Drupal\data_api\Data</code> object into a class that you're writing for your module.  You can do it in such a way that it will be unit testable.</p>

<p>Here's how:</p>

<ol>
<li><p>Place the following at the top of your PhpUnit test file, or test suite bootstrap, so that data_api's <code>autoload.php</code> file is included in your tests.  Adjust the displayed path as needed.</p>

<pre><code>require_once dirname(__FILE__) . '/...../data_api/tests/bootstrap.php';
</code></pre></li>
<li><p>Then use the <code>Drupal\data_api\DataMock</code> object as the injection class.  It has been decoupled from Drupal and works fine in most normal circumstances.  You may need to extend it for you specific situation, but there should be enough to go on by looking at that class alone as to how to do that.  Here's a possible solution:</p>

<pre><code>&lt;?php
...

use Drupal\data_api\DataMock;

/**
 * Provides to a base test for module unit tests.
 */
class TestBase extends \PHPUnit_Framework_TestCase
{
    public function setUp()
    {
        $this-&gt;dataApi = new DataMock;
        this-&gt;myClass = new MyClass($this-&gt;dataApi);
    }
}
</code></pre></li>
</ol>

<h2>When Testing an Entity</h2>

<p>Refer to the following test method:</p>

<pre><code>  public function testFVariationsWork($control, $default, $column, $delta) {
    global $entity;
    $entity = (object) [
      'type' =&gt; 'page',
      'field_summary' =&gt; [
        'und' =&gt; [
          0 =&gt; ['value' =&gt; 'lorem'],
          1 =&gt; ['value' =&gt; 'ipsum'],
        ],
      ],
    ];

    ...

  }
</code></pre>

<p>You must do the following:</p>

<ol>
<li><code>global $entity</code></li>
<li>Give `$entity->type' an arbitrary value.</li>
</ol>
